.sidebar{
    position: fixed;
    top: 55px;
    left: 0;
    bottom: 0;
    width: 70px;
    background-color: white;

    z-index: 200;
    padding-top: 5px;
}

.sidebox img{
    height: 25px;
    margin-bottom: 2px;
}

.sidebox{
    height: 76px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    cursor: pointer;
}

.sidebox:hover{
    background-color: rgb(235, 234, 234);
}

.sidebar div{
    font-size: 10px;
    font-family: Roboto,Arial;
}
